**/build
**/jniLibs
*.iml
*.jks
*~
.DS_Store
.externalNativeBuild
.gradle
.idea
/captures
/local.properties
account_bundled_credentials.json
bugsnag.conf
cardcreator.conf
credentials.json
lfa-analytics.conf
one.lfa.android.app.online/bundles
one.lfa.android.app.online/src/main/assets/lfaAnalytics.xml
one.lfa.android.app.online/src/main/assets/feeds
one.lfa.android.app.online/src/main/assets/images
one.lfa.android.app.online/src/main/assets/index.txt
one.lfa.android.app.online/src/main/assets/info.properties
ReaderClientCert.sig
